{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": { // 添加ES特性支持，使之能够识别ES6语法
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "plugin:react/recommended", // Uses the recommended rules from @eslint-plugin-react
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": "off",
    "react/prop-types": "off",
    "react/display-name": [
      0,
      {
        "ignoreTranspilerName": 0
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "vars": "local",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "globals": {
    "__DEV_MODEL__": true,
    "__DEV__": true,
    "__QA__": true,
    "__YZ__": true,
    "__DEMO__": true,
    "__PROD__": true
  }
}